<h1> Hi {{ name }}, welcome to the Wilder Journal</h1>

<p> We hope you enjoy it :)</p>


<p> Your email is {{ email }}</p>


<p> Your language is {{ lang }}</p>


<p> You come from {{ page_uid }}</p>